<section class="container">
    <header>
        <section class="logo" style="cursor: pointer;">
            <img src="/assets/images/logoheader.png" alt="" (click)="toDashboard()">
        </section>
        <section class="navbar">
            <section class="options">
                <img src="/assets/images/myFav.png" alt="">
                <img src="/assets/images/notifications.png" alt="">
                
            </section>
            <section class="profile" (mouseenter)="showDropdown()">
                <h1>MY PROFILE</h1>
                <p>{{username}}</p>
                <div class="profileOptions" *ngIf="options" (mouseleave)="closeDropdown()">
                    <div class="listHolder">
                        <li class="list">My Advertisements</li>
                    </div>
                    <div class="listHolder">
                        <li class="list">Wishlist</li>
                    </div>
                    <div class="listHolder" (click)="logout()">
                        <li class="list">Logout</li>
                    </div>
                    
                </div>
            </section>
            
            <section class="newAdver">
                <button (click)="changeToForm()">
                    <h1>NEW ADVERTISEMENT</h1>
                </button>
            </section>
        </section>
    </header>
    <section class="dashboardContent" *ngIf="dashboard">
        <section class="content">
            <section class="filter">
                <div class="filterMenu">
                     <div class="brandsNModels">
                         <input type="text" placeholder="Brands">
                         <input type="text" placeholder="Models">
                         <input type="text" placeholder="Price range">
                         <button>SEARCH</button>
                     </div>
                     <div class="moreInfo">
                         <input type="text" placeholder="From Year ">
                         <input type="text" placeholder="To Year">
                         <input type="text" placeholder="Coachbuilder">
                         <input type="text" placeholder="Gas">
                     </div>
                </div>
             </section>
        </section>
        <section class="items">
            <div class="itemsContent">
                <div class="card" *ngFor="let card of advertisementObject.Advertisements">
                    <div class="cardImage" >
                        <img *ngIf="card.imagePaths.length > 0" src="https://localhost:7169/Photos/{{card.imagePaths[0].imagePath}}">
                    </div>
                    <div class="info">
                        <div class="name">
                            <p class="brand">{{card.carDto.brand}}</p>
                            <p class="model">{{card.carDto.model}}</p>
                        </div>
                        <div class="price">
                            <p>{{ card.price | currency: 'EUR' }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <app-new-adver-form *ngIf="adverForm" class="form"></app-new-adver-form>
    <app-advertisement *ngIf="adver" class="adver"></app-advertisement>
</section>
