<section class="container">
    <app-heder></app-heder>
    
    <section class="dashboardContent" *ngIf="dashboard">
        <section class="content">
            <section class="filter">
                <div class="filterMenu">
                     <div class="brandsNModels">
                         <input type="text" placeholder="Brands">
                         <input type="text" placeholder="Models">
                         <input type="text" placeholder="Price range">
                         <button>SEARCH</button>
                     </div>
                     <div class="moreInfo">
                         <input type="text" placeholder="From Year ">
                         <input type="text" placeholder="To Year">
                         <input type="text" placeholder="Coachbuilder">
                         <input type="text" placeholder="Gas">
                     </div>
                </div>
             </section>
        </section>
        <section class="items">
            <div class="itemsContent">
                <div class="card" *ngFor="let card of advertisementObject.Advertisements" (click)="navigateToAdvertisement(card)">
                    <div class="cardImage" >
                        <img *ngIf="card.imagePaths.length > 0" src="https://localhost:7169/Photos/{{card.imagePaths[0].imagePath}}">
                    </div>
                    <div class="info">
                        <div class="name">
                            <p class="brand">{{card.carDto.brand}}</p>
                            <p class="model">{{card.carDto.model}}</p>
                        </div>
                        <div class="price">
                            <p>{{ card.price | currency: 'EUR' }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="navbuttons">
            <button class="prev" [disabled]="currentPage === 1" (click)="prevPage()">
                prev
            </button>
            <button class="next" (click)="nextPage()" [disabled]="advertisementObject.Advertisements.length < 6">
                next
            </button>
        </div>
        
    </section>
    <app-new-adver-form *ngIf="adverForm" class="form"></app-new-adver-form>
    <app-advertisement *ngIf="adver" class="adver"></app-advertisement>
</section>
