<section class="container">
    <header>
        <section class="logo">
            <img src="/assets/images/logoheader.png" alt="">
        </section>
        <section class="navbar">
            <section class="options">
                <img src="/assets/images/myFav.png" alt="">
                <img src="/assets/images/notifications.png" alt="">
                
            </section>
            <section class="profile">
                <h1>MY PROFILE</h1>
                <p>example23213</p>

            </section>
            <section class="newAdver">
                <button>
                    <h1>NEW ADVERTISEMENT</h1>
                </button>
            </section>
        </section>
    </header>

</section>
