<div class="container">
    <div class="modal animate__animated animate__zoomIn animate__faster">
        <div class="header">
            <h1>Session expired</h1>
        </div>
        <div class="message">
            <p>
                Your session expired! If you want to continue the session please click 'REFRESH' button
            </p>
        </div>
        <div class="buttons">
            <button (click)="logout()">Logout!</button>
            <button (click)="refreshSession()">Refresh Session!</button>
        </div>
    </div>
</div>

