
<div class="content">
    <app-heder></app-heder>
    <div class="form-content">
        <app-banner></app-banner>
        <div class="form-wrap">
            <div class="form">
                <h1>
                    Place new advertisement!
                </h1>
                <div>
                    <input type="text" autocomplete="off" name="text" class="input" placeholder="Advertisement Name" [(ngModel)]="AdverName">
                    <div class="car-options">
                        <input type="text" autocomplete="off" name="text" class="input" placeholder="Car's Brand" [(ngModel)]="Brand" [disabled]="Brand != ''">
                        <span class="material-symbols-outlined" (click)="openOptionsBrands()">
                            arrow_drop_down
                        </span>
                        <div class="options" *ngIf="brands">
                            <div class="options-select" *ngFor="let brand of carBrandsWithModels">
                                <div>
                                    <input type="radio" [value]="brand.brand" id="{{ brand.brand }}" name="selectedBrands" (change)="selectBrand(brand.brand)">
                                    <label for="{{ brand.brand }}">{{ brand.brand }}</label>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                   
                </div>
                <div>
                    <div class="car-options">
                        <input type="text" autocomplete="off" name="text" class="input" placeholder="Car's Model" [(ngModel)]="Model" [disabled]="Model != ''">
                        <span class="material-symbols-outlined" (click)="openOptionsModels()">
                            arrow_drop_down
                        </span>
                        <div class="options" *ngIf="models && Brand != ''">
                            <div class="options-select" *ngFor="let model of carModels">
                                <div>
                                    <input type="radio" [value]="model" id="{{ model }}" name="selectedModel" (change)="selectModel(model)">
                                    <label for="{{ model }}">{{ model }}</label>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                    
                    <input type="text" autocomplete="off" name="text" class="input" placeholder="Year" [(ngModel)]="Year">
                </div>
                <div>
                    <div class="car-options">
                        <input type="text" autocomplete="off" name="text" class="input" placeholder="Car's Body Type" [(ngModel)]="BodyType" [disabled]="BodyType != ''">
                        <span class="material-symbols-outlined" (click)="openBodyTypes()">
                            arrow_drop_down
                        </span>
                        <div class="options body-type" *ngIf="body">
                            <div class="options-select" *ngFor="let type of bodyTypes">
                                <div>
                                    <input type="radio" [value]="type" id="{{ type }}" name="selectedModel" (change)="selectBodyType(type)">
                                    <label for="{{ type }}">{{ type }}</label>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                    <div class="car-options">
                        <input type="text" autocomplete="off" name="text" class="input" placeholder="Fuel Type" [(ngModel)]="FuelType">
                        <span class="material-symbols-outlined" (click)="openFuelTypes()">
                            arrow_drop_down
                        </span>
                        <div class="options body-type" *ngIf="fuel">
                            <div class="options-select" *ngFor="let type of fuelTypes">
                                <div>
                                    <input type="radio" [value]="type" id="{{ type }}" name="selectedModel" (change)="selectFuelType(type)">
                                    <label for="{{ type }}">{{ type }}</label>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                   
                </div>
                <div>
                    <input type="text" autocomplete="off" name="text" class="input" placeholder="Price" [(ngModel)]="Price">
                    <input type="text" autocomplete="off" name="text" class="input" placeholder="Engine Volume" [(ngModel)]="EngineVolume">
                </div>
                <div>
                    <input type="text" autocomplete="off" name="text" class="input" placeholder="Horse Power" [(ngModel)]="HorsePower">
                    <input type="text" autocomplete="off" name="text" class="input" placeholder="Mileage" [(ngModel)]="Mileage">
                </div>
                <div>
                    <div class="car-options ">
                        <input type="text" autocomplete="off" name="text" class="input" placeholder="Propulsion" [(ngModel)]="Propulsion">
                        <span class="material-symbols-outlined" (click)="openPropulsionTypes()">
                            arrow_drop_down
                        </span>
                        <div class="options propulsion" *ngIf="propulsion">
                            <div class="options-select" *ngFor="let type of propulsionTypes">
                                <div>
                                    <input type="radio" [value]="type" id="{{ type }}" name="selectedModel" (change)="selectPropulsionType(type)">
                                    <label for="{{ type }}">{{ type }}</label>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                   
                    <div class="file-type" (change)="onFileSelected($event)">
                        <label> 
                            Select files!
                        </label>
                        <input type="file" class="file" id="file" >
                    </div>
                    
                    
                </div>
               
                <div class="images-div">
                    <div class="images" *ngFor="let img of selectedFiles">
                        <div class="image">
                            <img src="/assets/images/jpg (1).png" alt="" srcset="">
                        </div>
                        <div class="details">
                            <p>
                                {{img.name}} <br>
                                {{img.size}}B
                            </p>
                        </div>
                    </div>
                </div>
                <!-- <div class="radio-inputs">
                    <label class="radio">
                        <input type="radio" name="radio" checked="">
                        <span class="name">Not Fixed Price</span>
                    </label>
                    <label class="radio">
                        <input type="radio" name="radio">
                        <span class="name">Fixed Price</span>
                    </label>
                </div> -->
                <button (click)="placeAdver()" class="place-adver">PLACE AN ADVERTISEMENT</button>
            </div>
        </div>
        
    </div>
</div>

