.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .container-messages-wrap{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
       
        border-radius: 5px;
       border: 1px solid rgba(0, 0, 0, 0.185);
       .messages-conversation-wrap{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
      
        border-radius: 5px;
        outline: none;
        overflow-y:scroll ;
      
        // .align-left{
        //     width: 100%;
        //     display: flex;
        //     flex-direction: column-reverse;
        //     align-items: flex-start;
        // }
        // .align-right{
        //     width: 100%;
        //     display: flex;
        //     flex-direction: column-reverse;
        //     align-items: flex-end;
        //     font-size: 25px;
        // }
        // .align-left div, .align-right div{
        //     width: fit-content;
        //     padding: 20px 20px;
        //     font-family: 'Nunito', sans-serif;
        //     color: white;
        //     font-size: 0.9em;
        //     background-color: #001524;
        //     border-radius: 50px;
        // }
        .message-wrap{
            width: 100%;
            display: flex;
            flex-direction: column;
            // .align-right, .align-left{
                // width: fit-content;
                // background-color: #001524;
                // border-radius: 50px;
                // min-height: fit-content;
                // padding: 20px 20px;
                // font-family: 'Nunito', sans-serif;
                //  color: white;
            //      margin-top: 0 !important;
            //      margin-bottom:  5px !important;
            //     margin: 30px;
            // }
            // .align-right{
            //     align-self: flex-end;
               
            // }
            // .align-left{
            //     align-self: flex-start;
               
            // }
            // .chat-partner{
            //     height: 40px;
            //     width: 100%;
            // }
            .receiver-message {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                text-align: left;
                width: 100%;
                padding-bottom: 3px;
                border-radius: 10px;
               font-size: 20px;
               
                div{
                    width: fit-content;
                    padding: 20px 20px;
                    background-color: #001524;;
                    font-size: 0.9em;
                    font-family: 'Nunito',sans-serif;
                    color: white;
                    border-radius: 50px;
                    margin-left: 10px;
                }
            }
            
            .sender-message {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                text-align: right;
               padding-bottom: 3px;
                border-radius: 10px;
                width: 100%;
                font-size: 20px;
                div{
                    width: fit-content;
                    padding: 20px 20px;
                    background-color: #001524;;
                    font-size: 0.9em;
                    font-family: 'Nunito',sans-serif;
                    color: white;
                    border-radius: 50px;
                    margin-right: 10px;
                }
            }
            
            .divider {
                margin: 10px 0;
                height: 100px;
                
            }
        }
           
            
            .message-header{
                width: 100%;
                height: 80px;
                background-color: orange;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                
            }
        }
        .compose-messages{
            width: 96%;
            margin-bottom: 2%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: 10%;
            position: relative;
            border: 1px solid rgba(0, 0, 0, 0.185);
            border-radius: 5px;
            font-size: 25px;
            input{
                width: 98%;
                height: 95%;
                resize: none;
                border-top: none;
                border-left: none;
                border-right: none;
                border-bottom:none;
                align-self: start;
                font-family: "Oswald", sans-serif;
                font-weight: 400;
                outline: none;
                font-size: 0.8em;
                background-color: transparent;
            }
            input::placeholder{
                font-size: 1em;
                text-indent: 2px;
                opacity: 0.5;
            }
            button{
                width: 50px;
                height: 50px;
                border: none;
                border-radius: 5px;
                outline: none;
                background-color: transparent;
                font-family: 'Nunito Sans', sans-serif;
                position: absolute;
                right: 1%;
                bottom: 0%;
                display: flex;
                justify-content: center;
                align-items: center;
                align-self: center;
            }
            img{
                width: 30px;
                height: 30px;
                position: absolute;
                bottom: 25%;
                right: 1%;
            }
            button img{
                width: 100%;
                height: 70%;
            }
        }
    }
}