
<div class="container">
    <div class="container-messages-wrap">
        <div class="messages-conversation-wrap">
            <div class="message-wrap" *ngFor="let message of messages; let i = index">
                <div *ngFor="let message of messages; let i = index">
                    <div 
                      [ngClass]="{'receiver-message': message.senderUsername !== currentUsername, 'sender-message': message.senderUsername === currentUsername}"
                    >
                      <div>
                            {{message.message}}
                      </div>
                    </div>
                    
                
                    <div *ngIf="i === messages.length - 1 || message.senderUsername !== messages[i + 1]?.senderUsername" class="divider"></div>
                  </div>
            </div>
        </div>
        <div class="compose-messages">
            <input [(ngModel)] = "message" placeholder="Enter your message here">

            
            
            
            <img (click)="sendMessage()" src="/assets/images/send.png"/>
        </div>
    </div>
</div>
 

