<app-heder></app-heder>
<section class="container">
    <section class="containerBasics">

        <section class="images">
            <div class="adverName">
                <h1>
                    {{card.adverName}}
                </h1>
                <h2>
                    {{card.carDto.year}}
                    godiste
                </h2>
            </div>
            <div class="adverImg">
                <img src="https://localhost:7169/Photos/{{card.imagePaths[0].imagePath}}" alt="">
            </div>
        </section>
        <section class="basicInfo">
            <section class="BrandModelPrice">
                <h1>
                   {{card.carDto.brand}} {{card.carDto.model}}
                    
                </h1>
                <p>
                    {{ card.price | currency: 'EUR' }}
                </p>
            </section>
        </section>
    </section>
    
</section>
