<app-heder></app-heder>
<section class="container">
    <section class="containerBasics">

        <section class="images">

        </section>
        <section class="basicInfo">
            <section class="BrandModelPrice">
                <h1>
                   {{card.carDto.brand}} {{card.carDto.model}}
                    
                </h1>
                <p>
                    {{ card.price | currency: 'EUR' }}
                </p>
            </section>
        </section>
    </section>
    
</section>
