.container{
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .wished{
        color: orange;
    }
    .notWished{
        color: rgb(168, 168, 168);
    }
    .CarInfo{
       font-size: 25px;
       font-family: 'Nunito Sans', sans-serif;
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: left;
        .CarInfoLikes{
            font-size: 25px;
            span{
                font-size: 2.5em;
                transition: 300ms;
                cursor: pointer;
                
            }
            span:hover{
                color: orange;
            }
        }
        .CarInfoTable{
            width: 100%;
            display: flex;
            flex-direction: row;
        }
        .First-Column, .Second-Column{
            display: flex;
            flex-direction: column;
            width: 20%;
        }
        .property{
            display: flex;
            flex-direction: row;
            align-self: flex-start;
            justify-content: left;
            width: 100%;
            border-bottom: 1px solid #444;
            .key{
                width: 50%;
                font-size: 25px;
            }
            .value{
                width: 50%;
                font-size: 25px;
            }
            .key h1{
                color: #444;
                font-weight:300;
            }
            .key h1, .value h1{
                font-size: 0.6em;
                font-family: 'Nunito Sans', sans-serif;
            }
            .value h1{
                font-weight: bolder;
            }
        }
    }
    .containerBasics{
        width: 70%;
        display: flex;
        flex-direction: row;
        gap: 50px;
        .images{
            width: 60%;
            
            
            border-radius: 5px;
            .adverImg img{
                width: 100%;
                height: 90%;
                box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
            }
            .adverName{
                font-size: 25px;
                display: flex;
                flex-direction: row;
               gap: 20px;
                align-items: center;
                margin-bottom: 20px;
            }
            .adverName h1{
                font-size: 1.3em;
                margin: 0;
                font-family: 'Nunito Sans', sans-serif;
            font-weight: 800;
                color: #444;
            }
            .adverName h2{
                margin: 0 !important;
                font-size: 0.9em;
                font-family: 'Nunito Sans', sans-serif;
                font-weight: 800;
                opacity: 0.7;
                align-self: flex-end;
            }
        }
        .basicInfo{
            width: 30%;
            height: 500px;
            .SellersInfo{
                width: 100%;
                box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
                .Username{
                    font-size: 25px;
                    align-self: flex-start;
                    margin-left: 5%;
                }
                .Username h1{
                    font-size: 1em;
                    font-family: 'Nunito Sans', sans-serif;
                    
                }
                .MoreAdvers{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    align-self: center;
                    font-size: 25px;
                   
                    gap: 20px;
                    button{
                        height: 50px;
                        width: 90%;
                        font-size: 0.8em;

                    }
                    .First{
                        border: 2px solid orange;
                        border-radius: 4px;
                        background-color: transparent;
                    }
                    .Second{
                        border-radius: 4px;
                        background-color: orange;
                        border: none;
                        margin-bottom: 20px;
                    }
                }
            }
            .BrandModelPrice{
                display: flex;
                flex-direction: row;
                align-items: baseline;
                gap: 20px;
                margin-top: 50px;
                h1{
                    display: block;
                    font-size: 2em;
                    margin-top: 0.67em;
                    margin-bottom: 0.67em;
                    margin-left: 0.37em;
                    margin-right: 0;
                    font-weight: bold;
                    color: #444;
                    font-family: 'Nunito Sans', sans-serif;
                }
                p{
                    font-size: 1.5em;
                    margin-top: 0.67em;
                    margin-bottom: 0.67em;
                    margin-left: 0.37em;
                    margin-right: 0;
                    font-weight: bold;
                    font-family: 'Nunito Sans', sans-serif;
                    color: #444;
                }
            }
        }
    }
    
    
}