$backgroundColor:#669BBC;
$sectionBgColor:#E4572E;
.container{
    width: 100%;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    section{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .logo, .form{
            width: 25%;
            height: 50%;
        }
        .logo{
            background-color: white;

        }
        .form{
            background-color: $sectionBgColor;
        }
    }

}