<div class="content">
    <div class="formWrap">
        <div class="form">
            <input type="text" autocomplete="off" name="text" class="input" placeholder="Advertisement Name">
            <input type="text" autocomplete="off" name="text" class="input" placeholder="Car's Brand">
            <input type="text" autocomplete="off" name="text" class="input" placeholder="Car's Model">
            <input type="text" autocomplete="off" name="text" class="input" placeholder="Year ">
            <input type="text" autocomplete="off" name="text" class="input" placeholder="Car's Body Type">
            <input type="text" autocomplete="off" name="text" class="input" placeholder="Fuel Type">
            <button>PLACE AN ADVERTISEMENT</button>
        </div>
    </div>
</div>
