.info, .info_2  {
    position: absolute;
    font-family:'Nunito',sans-serif;
    width: 520px;
    padding: 22px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    background: #06aa00;
    border-radius: 8px;
    box-shadow: 0px 0px 5px -3px #111;
    bottom: 5%;
    left: 2%;
   
  }
  .info_2{
    background-color: #ffa600 !important;
  }
  .info_1{
    position: absolute;
    font-family:'Nunito',sans-serif;
    width: 520px;
    padding: 22px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    background: #00e1ff;
    border-radius: 8px;
    box-shadow: 0px 0px 5px -3px #111;
    bottom: 5%;
    left: 2%;
  
  }
  .info__icon {
    width: 20px;
    height: 20px;
    transform: translateY(-2px);
    margin-right: 8px;
  }
  
  .info__icon path {
    fill: #fff;
  }
  
  .info__title {
    font-weight: 500;
    font-size: 24px;
    color: #fff;
  }
  
  .info__close {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: auto;
  }
  
  .info__close path {
    fill: #fff;
  }
.messages-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: #001524;;
    align-items: center;
    position: relative;
    app-heder{
        width: 12%;
    }
    .messages-content{
        display: flex;
        flex-direction: column;
        width: 88%;
        position: relative;
        border-top-left-radius: 20px;
        height: 100vh;
        app-banner{
            width: 100%;
        }
        .messages{
            width: 100%;
            height: calc(100% - 100px);
            display: flex;
            flex-direction: row;
            background-color: rgb(235, 234, 234);
            border-top-left-radius: 20px;
            overflow: hidden;
            .all-users{
                width: 25%;
                display: flex;
                flex-direction: column-reverse;
                justify-content:left;
                align-items: center;
                height: 100%;
                border-right: 1px solid rgba(0, 0, 0, 0.082);
                overflow-y: scroll;
                position: relative;
                .loading{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top:0;
                    background-color: white;
                    z-index: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .message-wrapper:hover{
                    cursor: pointer;
                    background-color: rgba(0, 0, 0, 0.034);
                }
                .all-users-wrapper{
                    width: 100%;
                    
                }
                .message-wrapper.selected{
                    background-color: rgba(134, 134, 134, 0.329);
                }
                .message-wrapper{
                    width: 100%;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    div{
                        width: 90%;
                        display: flex;
                        flex-direction: row;
                       
                        .profile{
                           width:100px !important;
                           height: 100px;
                           background-color: #001524;
                           color: white;
                           border-radius: 50%;
                           display: flex;
                           justify-content: center;
                           align-items: center;
                           font-size: 25px;
                           h1{
                            font-size: 2em;
                            font-family: 'Nunito', sans-serif;
                            margin: 0;
                           }
                        }
                        .message{
                            display: flex;
                            flex-direction: column;
                            width: calc(100% - 100px);
                            font-size: 25px;
                            margin-left: 10px;
                            font-family: 'Nunito',sans-serif;
                            p{
                                margin: 0;
                            }
                            .sender-name:first-child{
                                font-size: 1em;
                                font-weight: 700;
                            }
                            p:last-child{
                                font-size: 0.8m;
                                opacity: .7;
                            }
                        }
                    }
                }
            }
            .message-preview{
                width: 75%;
                height: 100%;
               .not-selected-convo{
                width: 100%;
                height: 100%;
                display: flex;
               flex-direction: column;
                justify-content: center;
                align-items: center;
                font-family: 'Nunito', sans-serif;
                    font-size: 25px;
                p{
                    font-size: 1em;
                }
                img{
                    width: 400px;
                    height: 400px;
                }
               }
                app-user-to-user-messages{
                    
                }
             
               
            }
        }
    }
    // .all-users{
    //     width: 30%;
    //     height: 100%;
    //     background-color: rgb(255, 255, 255);
    //     display: flex;
    //     flex-direction: column;
    //    border-left: 1px solid rgba(0, 0, 0, 0.185);
    //    border-top: 1px solid rgba(0, 0, 0, 0.185);
    //    border-bottom: 1px solid rgba(0, 0, 0, 0.185);
    //     align-items: center;
    //     overflow-y: scroll;
    //     .message-wrapper{
    //         width: 95%;
    //         margin-top: 2.5%;
    //         min-height: 90px;
    //         max-height: 90px;
    //        border-bottom: 1px solid rgba(0, 0, 0, 0.185);
    //         color: black;
    //         display: flex;
    //         justify-content: center;
    //         align-items: center;
    //         cursor: pointer;
    //         border-radius: 5px;
    //         transition: 300ms ease-in-out;

    //         div{
    //             width: 98%;
    //             height: 90%;
    //             display:flex;
    //             flex-direction:row;
    //             justify-content: center;
    //             align-items: center;
    //             .profile{
    //                 width: 70px;
    //                 height: 70px;
    //                 background-color: rgb(255, 145, 0);
    //                 border-radius: 50px;
    //                 font-size: 25px;
    //                 h1{
    //                     font-family: 'Nunito', sans-serif;
    //                     font-size: 1.9em;
    //                 }
    //             }
    //             .message{
    //                 width: calc(100% - 70px);
    //                 color: black;
    //                 display: flex;
    //                 flex-direction: column;
    //                 justify-content: center;padding-left: 20px;
    //                 align-items: flex-start;
    //                 font-size: 25px;
    //                 .sender-name{
    //                     font-size: 0.9em;
    //                     opacity: 1;
    //                     font-weight: 800;
    //                 }
    //                 p{
    //                     font-size: 0.8em;
    //                     opacity: 0.7;
    //                     font-family: 'Nunito', sans-serif;
    //                    margin: 0;
    //                 }
    //             }
    //         }
    //     }
    //     .message-wrapper:hover{
    //         background: radial-gradient(circle, rgba(219,219,219,0.5662640056022409) 0%, rgba(219,219,219,0.039653361344537785) 100%);

    //     }
    //     .message-wrapper h1{
    //         color:black;
            
    //     }
    // }
    // .message-preview{
    //     width: 60%;
    //     height: 700px;
    //     .not-selected-convo{
    //         display: flex;
    //         flex-direction: column;
    //         justify-content: center;
    //         align-items: center;
    //         border-right: 1px solid rgba(0, 0, 0, 0.185);
    //         border-top: 1px solid rgba(0, 0, 0, 0.185);
    //         border-left: 1px solid rgba(0, 0, 0, 0.185);
    //         border-bottom: 1px solid rgba(0, 0, 0, 0.185);
    //         border-radius: 5px;
    //         width: 100%;
    //         height: 700px;
    //         font-size: 25px;
    //         p{
    //             font-size: 1em;
    //             font-family: 'Nunito', sans-serif;
    //         }
    //     }
    // }
}