
<div class="messages-container">
   <app-heder></app-heder>
   <div class="messages-content">
      <app-banner></app-banner>
      <div class="messages">
         <div class="all-users">
            <div class="loading" *ngIf="isLoading">
               <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 

               <dotlottie-player src="https://lottie.host/dbef465f-c100-4c03-bcd2-bb082d9b1018/3wzSXIej2t.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></dotlottie-player>
            </div>
            <div class="all-users-wrapper">
              
               <div class="message-wrapper"  *ngFor="let message of messageObject.Messages" (click)="selectChat(message)" [ngClass]="message.isSelected ? 'message-wrapper selected' : 'message-wrapper'" >
                  <div>
                     <div class="profile"> 
                        <h1 *ngIf="message.senderUsername == currentUsername">{{message.receiverUsername[0]}}</h1>
                        <h1 *ngIf="message.senderUsername != currentUsername">{{message.senderUsername[0]}}</h1>
                     </div>
                     <div class="message">
                        <p class="sender-name" *ngIf="message.senderUsername == currentUsername">{{message.receiverUsername}}</p>
                        <p class="sender-name" *ngIf="message.receiverUsername == currentUsername">{{message.senderUsername}}</p>
                        <p><span *ngIf="message.senderUsername == currentUsername">You: </span>{{message.message}}</p>
                     </div>
                    
                  </div>
                  <dotlottie-player *ngIf="message.isNew && message.senderUsername != currentUsername" src="https://lottie.host/9feaf58d-6ed0-4137-b9ed-4b59d68701e9/1fBVoL7mgH.json" background="transparent" speed="1" style="width: 30px; height: 30px;" loop autoplay></dotlottie-player>

   
               </div>
            </div>
            
         </div>
         <div class="message-preview">
              <router-outlet></router-outlet>
               <div *ngIf="isSelected == false" class="not-selected-convo">
                     <img src="/assets/images/no-message.png">
                     <p>No conversation selected!</p>
               </div>
         </div>
      </div>
      
   </div>
</div>
