<div class="container">
    <div class="glass-1">

    </div>
    <div class="glass-2">

    </div>
    <div class="glass-3">

    </div>
    <div class="header">
        <div class="header-nav">
            <div class="logo">
                <img src="/assets/images/logocars.png">
    
            </div>
            <div class="nav-bar">
                <nav>
                    <li (click)="navigation('Dashboard')">
                        <h1>Dashboard</h1>
                    </li>
                    <li>
                        <h1>About</h1>
                    </li>
                    <li (click)="navigation('Login')">
                        <h1>Get Started!</h1>
                    </li>
                </nav>
            </div>
        </div>
        <div class="horisontal-line">

        </div>
    </div>
    <div class="content">
        <div class="title-wrap">
            <div class="title">
                <h1>
                    Ride in Style, Buy with Confidence
                </h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque temporibus incidunt molestias accusamus veniam laudantium officiis quo animi deserunt, ex assumenda facilis, repellat porro eveniet mollitia veritatis ullam suscipit non!
                </p>
            </div>
            <button class="cssbuttons-io-button" (click)="navigation('Login')">
                Register
                <div class="icon">
                  <svg
                    height="24"
                    width="24"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path
                      d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
                      fill="currentColor"
                    ></path>
                  </svg>
                </div>
              </button>
              
        </div>
        <div class="cover-photo">
           <img src="/assets/images/salecar.png" alt="">
        </div>
    </div>
    
</div>
