
<div class="messages-container">
   <app-heder></app-heder>
   <div class="messages-content">
      <app-banner></app-banner>
      <div class="messages">
         <div class="all-users">
            <div class="loading" *ngIf="isLoading">
               <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 

               <dotlottie-player src="https://lottie.host/dbef465f-c100-4c03-bcd2-bb082d9b1018/3wzSXIej2t.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></dotlottie-player>
            </div>
            <div class="all-users-wrapper">
              
               <div class="message-wrapper"  *ngFor="let message of messageObject.Messages" (click)="selectChat(message)" [ngClass]="message.isSelected ? 'message-wrapper selected' : 'message-wrapper'" >
                  <div>
                     <div class="profile"> 
                        <h1 *ngIf="message.senderUsername == currentUsername">{{message.receiverUsername[0]}}</h1>
                        <h1 *ngIf="message.senderUsername != currentUsername">{{message.senderUsername[0]}}</h1>
                     </div>
                     <div class="message">
                        <p class="sender-name" *ngIf="message.senderUsername == currentUsername">{{message.receiverUsername}}</p>
                        <p class="sender-name" *ngIf="message.receiverUsername == currentUsername">{{message.senderUsername}}</p>
                        <p><span *ngIf="message.senderUsername == currentUsername">You: </span>{{message.message}}</p>
                     </div>
                    
                  </div>
                  <dotlottie-player *ngIf="message.isNew && message.senderUsername != currentUsername" src="https://lottie.host/9feaf58d-6ed0-4137-b9ed-4b59d68701e9/1fBVoL7mgH.json" background="transparent" speed="1" style="width: 30px; height: 30px;" loop autoplay></dotlottie-player>

   
               </div>
            </div>
            
         </div>
         <div class="message-preview">
              <router-outlet></router-outlet>
               <div *ngIf="isSelected == false" class="not-selected-convo">
                     <img src="/assets/images/Messages-rafiki.png">
                     <p>No conversation selected!</p>
               </div>
         </div>
      </div>
      <div class="info_2" *ngIf="messagesNotLoaded">
         <div class="info__icon">
           <svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" height="24" fill="none"><path fill="#393a37" d="m12 1.5c-5.79844 0-10.5 4.70156-10.5 10.5 0 5.7984 4.70156 10.5 10.5 10.5 5.7984 0 10.5-4.7016 10.5-10.5 0-5.79844-4.7016-10.5-10.5-10.5zm.75 15.5625c0 .1031-.0844.1875-.1875.1875h-1.125c-.1031 0-.1875-.0844-.1875-.1875v-6.375c0-.1031.0844-.1875.1875-.1875h1.125c.1031 0 .1875.0844.1875.1875zm-.75-8.0625c-.2944-.00601-.5747-.12718-.7808-.3375-.206-.21032-.3215-.49305-.3215-.7875s.1155-.57718.3215-.7875c.2061-.21032.4864-.33149.7808-.3375.2944.00601.5747.12718.7808.3375.206.21032.3215.49305.3215.7875s-.1155.57718-.3215.7875c-.2061.21032-.4864.33149-.7808.3375z"></path></svg>
         </div>
         <div class="info__title">Messages not loaded!</div>
         
     </div>
   </div>
 
</div>
