<section class="container">
    <app-heder></app-heder>
    
    <section class="dashboard-content" *ngIf="dashboard">
        <app-banner></app-banner>
        <!-- <section class="content">
            <section class="filter">
                <div class="filter-menu">
                     <div class="brands-n-models">
                         <input type="text" placeholder="Brands">
                         <input type="text" placeholder="Models">
                         <input type="text" placeholder="Price range">
                         <button>SEARCH</button>
                     </div>
                     <div class="more-info">
                         <input type="text" placeholder="From Year ">
                         <input type="text" placeholder="To Year">
                         <input type="text" placeholder="Coachbuilder">
                         <input type="text" placeholder="Gas">
                     </div>
                </div>
             </section>
        </section> -->
        <section class="items">
            <div class="items-content">
                <div class="card" *ngFor="let card of advertisementObject.Advertisements" (click)="navigateToAdvertisement(card)">
                    <div class="elemental-info">
                        <div>
                            <p>
                               {{card.date}}
                            </p>
                            <h1>{{card.carDto.brand}} {{card.carDto.model}} <span>{{card.carDto.year}}</span></h1>
                        </div>
                    </div>
                    <div class="card-image" >
                        <img *ngIf="card.imagePaths.length > 0" src="https://localhost:7169/Photos/{{card.imagePaths[0].imagePath}}">
                        <img class="no-img" *ngIf="card.imagePaths.length == 0" src="/assets/images/photo.png">
                    </div>
                    <div class="info">
                        <div>
                            <p>
                              Engine volume: {{card.carDto.engineVolume}} ㎤
                            </p>
                            <p>
                                Horse power: {{card.carDto.horsePower}} ks
                            </p>
                        </div>
                        <div>
                            <p>
                                Fuel: {{card.carDto.fuelType}}
                            </p>
                            <p>
                                Mileage: {{card.carDto.mileage}}
                            </p>
                        </div>
                    </div>
                    <div class="price">
                        <h1> {{ card.price | currency: 'EUR' }}</h1> <button>More</button>
                    </div>
                </div>
            </div>
            
        </section>
        
        
    </section>
    <app-new-adver-form *ngIf="adverForm" class="form"></app-new-adver-form>
    <app-advertisement *ngIf="adver" class="adver"></app-advertisement>
</section>
