<header>
    
    <section class="logo" style="cursor: pointer;">
        <img src="/assets/images/logoheader.png" alt="" (click)="navigateToHome()">
    </section>
    <section class="navbar">
        <!-- <section class="options">
          
            <div>
                <img src="/assets/images/chat.png" (click)="navigateToMessages()">
                <span>
                    {{numberMessages}}
                </span>
            </div>
           
        </section> -->
        <!-- <section class="profile" (mouseenter)="showDropdown()">
            <h1>MY PROFILE</h1>
            <p>{{username}}</p>
            <div class="profile-options" *ngIf="options" (mouseleave)="closeDropdown()">
                <div class="list-holder">
                    <li class="list">My Advertisements</li>
                </div>
                <div class="list-holder" (click)="navigateToFav()">
                    <li class="list">Wishlist</li>
                </div>
                <div class="list-holder" (click)="logout()">
                    <li class="list">Logout</li>
                </div>
            </div>
        </section> -->
        <section class="dashboard">
            <button (click)="navigateToHome()">
               <img src="/assets/images/car.png"> <h1>DASHBOARD</h1>
            </button>
           
        </section>
        <div class="options">
            <button (click)="navigateToMessages()"><img src="/assets/images/mssgs.png" > Messages <span>{{numberMessages}}</span></button>
            <button><img src="/assets/images/wishlist.png"> Wishlist</button>
            <button (click)="changeToForm()"><img src="/assets/images/mega.png" > Place an adver</button>
            <div class="hr">

            </div>
        </div>
        <div class="filters">
            <div class="filter-first-section section">
                <button (click)="showOptions()"><img src="/assets/images/setting.png"> Filters</button>
                <div [ngClass]="brands ? 'filter-drop-down open' : 'filter-drop-down'">
                    <label for="car-brand">Select a car brand:</label>
                    <select id="car-brand" [(ngModel)]="selectedBrand" (change)="loadModels()">
                        <option *ngFor="let brand of carBrandsWithModels" [value]="brand.brand" >{{ brand.brand }}</option>
                    </select>
                </div>
                <div [ngClass]="models ? 'models-drop-down open' : 'models-drop-down'">
                    <label for="car-brand">Select a car model:</label>
                    <select id="car-brand" [(ngModel)]="selectedModel" (change)="chooseModel()">
                        <option *ngFor="let model of carModels" [value]="model" >{{ model }}</option>
                    </select>
                </div>
                <button class="filter-button" *ngIf="selectedBrand != null && brands" (click)="filterSearch()" [disabled] = "filter">
                    FILTER
                </button>
            </div>
            <div class="filter-second-section section">
                <button><img src="/assets/images/sort.png"> Sort</button>
            </div>
        </div>
    </section>
    <div class="log-out">
        <button (click)="logout()"><img src="/assets/images/lout.png"> Logout</button>
    </div>
</header>

