<header>
    <section class="logo" style="cursor: pointer;">
        <img src="/assets/images/logoheader.png" alt="" (click)="navigateToHome()">
    </section>
    <section class="navbar">
        <section class="options">
            <img src="/assets/images/myFav.png" alt="">
            <img src="/assets/images/notifications.png" alt="">
            <img src="/assets/images/chat.png">
        </section>
        <section class="profile" (mouseenter)="showDropdown()">
            <h1>MY PROFILE</h1>
            <p>{{username}}</p>
            <div class="profile-options" *ngIf="options" (mouseleave)="closeDropdown()">
                <div class="list-holder">
                    <li class="list">My Advertisements</li>
                </div>
                <div class="list-holder" (click)="navigateToFav()">
                    <li class="list">Wishlist</li>
                </div>
                <div class="list-holder" (click)="logout()">
                    <li class="list">Logout</li>
                </div>
            </div>
        </section>
        <section class="new-adver">
            <button (click)="changeToForm()">
                <h1>NEW ADVERTISEMENT</h1>
            </button>
           
        </section>
    </section>
</header>

